# Custom
.vs/

*.sln
*.vcxproj*

bin/
bin-int/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# lua library already compiled
!Prism/includes/lua/*.lib

# Executables
*.out
*.app